body,p,h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    /*font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #312d2b;
}

.container {
	justify-content: center;
}

header {
    background-color: #014421;
    color: white;
    padding: 1rem;
    text-align: center;
}

#navbar {
	position: sticky;
	top: 0;
	overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
    color: lightgreen;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    color: white;
    padding: 2rem;
}

#about {
	background-color: #2D6A4F;
	border-radius: 50px;
	margin: 2rem;
	display: flex;
	justify-content: center;
	/*grid-template-areas:
		'i i i'
		'e e e'
		'p o v'
		'p o v';*/
}
#about-i{grid-area: i}	
#about-ed{grid-area: e}
#about-prog{grid-area: p}
#about-os{grid-area: o}
#about-vs{grid-area: v}

#about-row {
	display: flex;
	flex-direction: row;
	margin: 0;
	justify-content: center;
	align: center;
}

.about-c{
	background-color: #245741;
	padding: 50px;
	margin: 30px;
	width: 35%;
	text-align: center;
	border-radius: 50px;
}
.project {
    display: flex;
    align-items: center;
    margin: 2rem;
	background-color: #2D6A4F;
	padding: 50px;
	border-radius: 50px;
	
}

.project img {
    display: block;
    margin: 10px 0;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.project-details {
    flex: 1;
}

.project-details h3 {
    margin-top: 0;
}

.project a {
    color: rgb(1, 9, 54);
    text-decoration: none;
    text-decoration: underline;
}

.project a:hover {
    color: lightgreen;
}

#contact{
    color: white;
    text-align: left;
	padding: 50px;
	background-color:#2D6A4F;
	border-radius: 50px;
	margin: 25px 50px 25px 50px;
}

#contact p a {
    color: rgb(1, 9, 54)
}

#contact p a:hover {
    color: lightgreen
}
footer {
    background-color: #014421;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
}

#face {
    display: block;
    margin: 50px auto 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 768px) {
    img {
        float: left;
        margin: 25px 0 0 25px;
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
		justify-content: center;
    }

    .project-details {
        text-align: center;
    }
	
	.project img {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#about-row {
		flex-direction: column;
		
	}	
	
	.about-c {
		width: 100%;
		margin: 20px auto 20px auto;
	}
}
